html, body {
    min-height: 100%;
}
body, div, form, input, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1 {
    font-weight: 400;
}
.format-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}
.inner-box {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc; 
}
.field {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}
.text{
    margin: 10px;
    padding: 10px;
    background-color: #efefef;
}
input:hover, textarea:hover {
    outline: none;
    border: 1px solid #095484;
}
textarea:hover {
    outline: none;
    border: 1px solid #1c87c9;
}
textarea {
    width: calc(100% - 6px);
}
.label {
    padding: 15px 0 5px;
    color: #095484;
}
.label-answer label {
    display: block;
    padding: 0 20px 10px 0;
}
.label-answer input {
    width: auto;
}
.btn-block {
    margin-top: 20px;
    text-align: center;
}
.convert-button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.copy-button {
    width: 100;
    margin: 5px;
    padding: 6px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0666a3;
}
@media (min-width: 568px) {
    th, td {
        word-break: keep-all;
    }
}