<!doctype html>
<!DOCTYPE html>
<html>
  <head>
    <title>Formatted Text</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </head>
  <body>
    <div class="format-box">
        <div class="inner-box">
            <h1>{{formatted.origin}} to Anki Formatting</h1>
            <div class="text" id="formattedText">
                {% for line in formatted.text %}
                    {{line}}
                    <br>
                {% endfor %}
            </div>
            <button class="copy-button" onclick="copyTextToClip()">Copy Text</button>
            <button class="copy-button" onclick="downloadFile()">Download</button>
            <input id="filename" value="{{formatted.filename}}" hidden>
            <br>
        </div>
    </div>
  </body>
</html>