<!doctype html>
<!DOCTYPE html>
<html>
  <head>
    <title>Text Formatter</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>
  <body>
    <div class="format-box">
      <form class="inner-box"  method="post">
        <h1>Text to Anki Formatter</h1>
        <p class="label">Place the text you'd like to convert here</p>
        <textarea required rows="15" name="text"></textarea>
        <p class="label">Where did this text come from?</p>
        <div class="label-answer">
          <label><input required class="field" type="radio" value="Imiwa" name="origin" /> Imiwa</label>
          <label><input required class="field" type="radio" value="Pleco" name="origin" /> Pleco</label>
          <label><input required class="field" type="radio" value="Misc-Chinese" name="origin" /> Misc. Chinese</label>
        </div>
        <p class="label">What would you like to name the converted text? (Default is the current date and the text's origin.)</p>
        <input class="field" type="text" placeholder="" name="filename">
        <div class="btn-block">
          <button class="convert-button" type="submit">Convert!</button>
        </div>
      </form>
    </div>
  </body>
</html>